<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.iwai.sign</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>25D125</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ESign</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>com.iwai.file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.zip-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>com.apple.package</string>
				<string>com.apple.mobileprovision</string>
				<string>com.rsa.pkcs-12</string>
				<string>com.apple.application</string>
				<string>com.apple.application-​bundle</string>
				<string>com.apple.application-file</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ESign</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon@3x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.esign.cuios</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>8.1.9</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
		<string>ar</string>
		<string>vi</string>
		<string>ru</string>
		<string>fr</string>
		<string>pt</string>
		<string>ja</string>
		<string>ko</string>
		<string>es</string>
		<string>de</string>
		<string>id</string>
	</array>
	<key>CFBundleName</key>
	<string>ESign</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.iwai.sign</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>esign</string>
				<string>iwai</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10262</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23A339</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>DTSDKBuild</key>
	<string>23A339</string>
	<key>DTSDKName</key>
	<string>iphoneos26.0</string>
	<key>DTXcode</key>
	<string>2601</string>
	<key>DTXcodeBuild</key>
	<string>17A400</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>undecimus</string>
		<string>sileo</string>
		<string>zbra</string>
		<string>filza</string>
		<string>activator</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to capture photos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to keep the app secure.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location access is required so the app can install apps and transfer files while running in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required so the app can install apps and transfer files while running in the background.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is required to record videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library access is required to save images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to import images.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier is used to deliver personalized advertising.</string>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
</dict>
</plist>
